html, body {
  font-size: 16px;
  background: #111;
  margin: 0;
  padding: 0;
}

.container, .o-container, .o-o-container {
  border-radius: 1em;
}
.container {
  padding: 1.5em;
  background: #555;
  border: 1em solid #444;
}
.o-container {
  background: #333;
  padding: 1em;
}
.o-o-container {
  margin: 4em auto;
  width: 90%;
  max-width: 48em;
  background: #222;
  padding: 1em;
}

h1.enter-link {
  padding: 0.5em;
  font-size: 3em;
  text-align: center;
  font-family: 'Indie Flower', 'cursive';
}
h1.enter-link a {
  text-decoration: none;
  color: #82FF00;
  text-shadow: 0.05em 0.05em #000;
}

.text-center {
  text-align: center;
}
.funky {
  color: #82FF00;
  font-family: 'Indie Flower', 'cursive';
}
.funky a {
  color: #fff;
}
