html, body {
  margin: 0;
  padding: 0;
}
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}
#game-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.focus {
  background-color: rgba(32, 32, 32, 0.5);
}
.focus:after {
  display: block;
  position: absolute;

  content: "Click to focus";

  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 8em;
  height: 2em;
  line-height: 2em;

  text-align: center;
  color: #fff;
}

.halp, .kb-switch {
  font-family: Courier, sans-serif;
  color: #fff;
  position: fixed;
  bottom: 0;
  padding: 0.5em;
}

.halp {
  left: 0;
}

.kb-switch {
  cursor: pointer;
  right: 0!important;
  margin: 0.5em;
  background: #fff;
  color: #000;
  width: 150px;
}

#heart-container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -190px;
  margin-left: -230px;
  color: #fff;
  pointer-events: none;
}
#heart-container img {
  margin-top: 8px;
  margin-bottom: -8px;
  padding: 4 8px;
  background-color: #432;
  border-radius: 100%;
  border: solid 1px #30281f;
  box-shadow: 0 0 1em #654 inset;
}
#heart-container #health-amount {
  font-weight: 800;
  font-size: 120%;
}

#items-toolbar,
#treasure-toolbar {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: right;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -230px;
  margin-left: -180px;
  pointer-events: none;
}
#items-toolbar.comparison:after,
#treasure-toolbar.comparison:after {
  display: block;
  position: absolute;
  content: "";
  left: -32px;
  top: 4px;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center;
}
#items-toolbar:after {
  background-image: url('/res/bag.png');
}
#treasure-toolbar {
  margin-top: -274px;
}
#treasure-toolbar:after {
  background-image: url('/res/treasure.png');
}
#items-toolbar li:after,
#treasure-toolbar li:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}
.icon-broadsword:after {
  background-image: url('/res/sword-icon.png');
}
.icon-firejet:after {
  background-image: url('/res/parchment-red.png');
}
.icon-cake:after {
  background-image: url('/res/cake.png');
}
.icon-bomb:after {
  background-image: url('/res/bomb.png');
}

#items-toolbar li,
#treasure-toolbar li {
  width: 32px;
  height: 32px;
  background-color: #432;
  border-radius: 100%;
  border: solid 1px #30281f;
  display: inline-block;
  position: relative;
  box-shadow: 0 0 1em #654 inset;
}
#items-toolbar li.active,
#treasure-toolbar li.active {
  box-shadow: 0 0 1em #fed inset;
}
